@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/*Main Page*/
@font-face {
	font-family: Futuris;
	src: url('../fonts/futuris.TTF');
}

body {
	padding-top: 0;
}

/*Navbar*/
#main-logo {
	margin: 0 auto;
	width: 40%;
	height: auto;
}

.navbar {
	margin-top: 1%;
	position: static;
	background: white;
	width: 100%;
	border: none;
	background: url("../img/navbarLine.png") top center no-repeat;
	background-size: 100% 100%;
}

.container1 {
	position: relative;
	padding: 15px;
}

.navbar-right {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}

.navbar-links {
	-moz-box-shadow: #3dc21b;
	-webkit-box-shadow: #3dc21b;
	box-shadow: #3dc21b;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	text-transform: uppercase;
	font-family: Futuris, sans-serif;
	font-size: 1.5vw;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 #2f6627;
	padding: 10px;
}

.navbar-links:hover {
	color: #D60A0A;
	text-decoration: none;
}

.myButton:hover {
	background-color: transparent;
}

.myButton:active {
	top: 5px;
}

.carousel-inner {
	height: 50vh;
}

/*Jumbotron*/
.jumbotron {
	/*	background-image: linear-gradient(to bottom, #ffff00 0, #72ff92 100%);*/
	background-color: white;
	margin-bottom: 0;
	padding-top: 2vh;
}

/*Services*/
h1 {
	margin: 0;
	padding: 10px;
	margin-bottom: 5vh;
	text-align: center;
	font-size: 50px;
}

#row-images {
	width: 100%;
	margin-right: auto;
	margin-left: auto
}

.img3 {
	position: relative;
	width: 33%;
	height: 50vh;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	transition: all .2s ease-in-out;
	filter: blur(5px);
	z-index: 1;
}

.img3:hover {
	filter: blur(0px);
	transform: scale(1.2);
	cursor: pointer;
	z-index: 2;
}

.imgEnlarge {
	position: relative !important;
}

.imgText {
	font-family: "Arial Narrow", serif;
	font-weight: bold;
	color: white;
	transition: all .2s ease-in-out;
	font-size: 8vh;
	position: absolute;
	left: 1em;
	top: -0.7em;
	text-shadow: 2px 2px 4px #000000;
	z-index: 3;
	text-align: center;
	pointer-events: none;
}

.imgTextTwo {
	left: 0.5em;
	text-align: center;
	top: -1.5em;
}

.partnerImages {
	margin: 0 auto;
}

.partnersImg {
	position: relative;
	width: 33%;
	height: 10vh;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	transition: all .2s ease-in-out;
	filter: blur(5px);
	z-index: 1;
}

.partnersImg:hover {
	filter: blur(0px);
	transform: scale(1.2);
	cursor: pointer;
	z-index: 2;
}

.hr {
	border: 0;
	height: 1px;
	background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

footer {
	font-size: large;
	text-align: center;
}

/*Services*/
/*text*/
.services-container {
	padding-top: 50px;
}

.imgService {
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

/*gallery*/
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}

/*Contact Form*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
	font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
	vertical-align: top;
	background: #F9F9F9;
	padding: 25px;
	width: 60%;
	display: inline-block;
}

#contact h3 {
	color: #d60a0a;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #d60a0a;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: #d60a0a;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

#info {
	display: inline-block;
	width: 35%;
}

#map {
	height: 400px;
	width: auto;
}

.my-gallery {
	width: 100%;
	float: left;
}

.my-gallery img {
	width: 100%;
	height: auto;
}

.my-gallery figure {
	display: inline-block;
	margin: 0 5px 5px 0;
	width: 200px;
}

.my-gallery figcaption {
	display: none;
}


.main-container {
	padding: 10px 15px;
}
.skyblue {
	background: url("../img/cover2.jpg") center top no-repeat;
	-webkit-background-size:100%;
	background-size:100%;
}
.deepskyblue {
	background: url("../img/cover3.jpg") center top no-repeat;
	-webkit-background-size:100%;
	background-size:100%;
}
.darkerskyblue {
	background: url("../img/cover1.jpg") center top no-repeat;
	-webkit-background-size:100%;
	background-size:100%;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px;
	height: 100%;
	width:100%;
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #cc2500;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #ff0f00;
	margin-top: 1em;
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
}

.p {
	padding-top: 125px;
	text-align: center;
}

.p a {
	text-decoration: underline;
}