@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/*Main Page*/
@font-face {
	font-family: Futuris;
	src: url('/fonts/futuris.TTF');
}

body {
	padding-top: 0;
}

/*Navbar*/
.navbar-fixed-top {
	position: relative !important;
}

.navbar-header {
	margin: 0 auto !important;
	float: none !important;
	display: table !important;
}

#navbar-logo {
	height: 50px;
	display: none;
}

.navbar-brand {
	font-size: 50px;
}

.navbar-brand:hover {
	color: #000000 !important;
}

.navbar {
	margin-top: 3%;
	height: 80px;
}

.navbar-inverse {
	border-color: rgb(255, 255, 255) !important;
	background: rgb(255, 253, 244) linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 100%) repeat-x !important;
}

.navbar-inverse .navbar-brand {
	color: #d60a0a;
	text-transform: uppercase;
	font-family: Futuris, sans-serif;
	font-weight: bold;
}

.navbar-links {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 3px;
	border: 3px solid #000000;
	border-top: 0;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Futuris;
	font-size: 28px;
	font-weight: bold;
	padding: 16px 53px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color: transparent;
}

.myButton:active {
	position: relative;
	top: 5px;
}

/*Jumbotron*/
.jumbotron {
	/*	background-image: linear-gradient(to bottom, #ffff00 0, #72ff92 100%);*/
	background-color: white;
	margin-bottom: 0;
	padding-top: 2vh;
}

#main-logo {
	margin: 0 auto;
	width: 90vh;
	height: auto;
}

/*Services*/
#services {
	margin: 0;
	padding: 10px;
	/*	background-color: #73ff91;*/
	text-align: center;
	font-size: 50px;
}

#row-images {
	width: 100%;
	margin-right: auto;
	margin-left: auto
}

.img3 {
	position: relative;
	width: 33.3333%;
	height: 50vh;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	transition: all .2s ease-in-out;
	filter: blur(5px);
	z-index: 1;
}

.img3:hover {
	filter: blur(0px);
	transform: scale(1.2);
	cursor: pointer;
	z-index: 2;
}

.leftImg {
	position: relative;
}

.middleImg {
	position: relative;
}

.rightImg {
	position: relative;
}

.imgText {
	font-family: "Arial Narrow", serif;
	font-weight: bold;
	font-style: italic;
	color: white;
	transition: all .2s ease-in-out;
	font-size: 8vh;
	position: absolute;
	left: 12vh;
	top: -5vh;
	text-shadow: 2px 2px 4px #000000;
	z-index: 3;
	text-align: center;
	pointer-events: none;
}

.imgTextTwo {
	left: 2vh;
	text-align: center;
	top: -11vh;
}

.hr {
	border: 0;
	height: 1px;
	background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}

footer {
	font-size: large;
	text-align: center;
}

/*Services*/
/*text*/
.services-container {
	padding-top: 50px;
}

.imgService {
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

/*gallery*/
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}

.thumbnail {
	padding: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}

/*Contact Form*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
	font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 0 auto;
	width: 50%;
}

#contact h3 {
	color: #d60a0a;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #d60a0a;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: #d60a0a;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}
